body {
    background-color: blueviolet;

}
h1{
    width: 10px;

    background-color: red;
    width: fit-content;
    padding: 1em;
    border-radius: 5px;

    color: blue;
}
p{
    color: aqua;
    background-color: salmon;
}